.pull-to-load
  overflow hidden

  &__wrapper
    transition: .2s

  &__top,
  &__bottom
    height 50px
    display: flex
    align-items: center
    justify-content: center

  &__top
    margin-top -50px

  &__bottom
    margin-bottom -50px

    &--end
      margin-bottom: 20px
      font-size: 22px
      color: #999

      &:before,
      &:after
        content: ''
        display: block
        width: 40px
        height: 2px
        background: #999

      &:before
        margin-right: 10px

      &:after
        margin-left: 10px
