.pull-to-load
  overflow hidden

  &__wrapper
    transition: .2s

  &__top,
  &__bottom
    display: flex
    align-items: center
    justify-content: center
    // background: #39f

  &__top
    height: 160px
    margin-top -160px
    color #fff

  &__bottom
    height: 100px
    color: #999

    &--end
      margin-bottom: 20px
      font-size: 22px
      color: #999
      background: transparent

      &:before,
      &:after
        content: ''
        display: block
        width: 40px
        height: 2px
        background: #999

      &:before
        margin-right: 10px

      &:after
        margin-left: 10px

// top area animation
.pull-to-load
  &__top
    position: relative
    &__bg
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      transition: tranform .1s
      transform-origin: bottom

    &__content
      z-index: 207

  &__circle
    width: 1000px;
    height: 1000px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #39f;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 50%;
    transition: transform .5s
