*
  box-sizing: border-box

.pull-to-load
  overflow hidden

  &__wrapper
    transition: .2s

  &__top,
  &__bottom
    height 50px
    // position absolute

  &__top
    margin-top -50px

  &__bottom
    margin-bottom -50px